attrs
beautifulsoup4
bs4
certifi
chardet
charset-normalizer
click
clipboard
et-xmlfile
fasttext-wheel
flashtext==2.7
gensim
h11
hazm
idna==3.10
joblib
langcodes
language_data
lxml
marisa-trie
newmm-tokenizer
nltk
#numpy
openpyxl
outcome.post0
progressbar2
psutil
pybind11
pyperclip
PySocks
python-crfsuite
python-docx
python-utils
regex
requests
scikit-learn
scipy
screeninfo
selenium
smart-open
sniffio
sortedcontainers
soupsieve==2.6
threadpoolctl
tinysegmenter==0.4
tqdm
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wrapt
wsproto
